
.CUSTOM_banner {
    background-color: #2b5283;
    color: white;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    white-space: pre-wrap;
    position: relative;
    z-index: 999;
    flex-wrap: wrap;
    padding-top: .4rem;
    padding-bottom: .3rem;


}
.switchBanner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.35rem;
}

.ribbon {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 40%;
    height: 50%;
    text-align: right;
    z-index: 1;
}

.aboutAndSupport {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ribbon span {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 261px;
    display: block;
    background: linear-gradient(#003366 0%, #003366 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 45px;
    right: -60px;
}

.aboutSupport {
    font-size: 1.1rem;
    cursor: pointer;
}
.frontAndCenter {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2em;
}

.DHSLogo {
    margin-right: 10px;
    widows: 70px;
    height: 70px
}

@media (max-width:1200px) {
    .titleText {
        font-size: .7em;
    }
    .DHSLogo {
        margin-right: 10px;
        widows: 40px;
        height: 40px
    }
}
