.Spinner {
    position: absolute;
    width: 376px !important;
    height: 376px !important;
    left: calc(50% - 188px);
    top: calc(50% - 188px);
    border: .6rem #005288 solid;
    border-top-color: transparent;
}

.loadingMessage {
    position: absolute;
    width: calc(100% - 4rem) !important;
    margin-left: auto;
    height: 20px !important;
    top: calc(50% - 10px + 125px + 10vh);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;

}


.cursorHack {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.SpinnerImage {
    position: absolute;
    width: 350px !important;
    height: 350px !important;
    left: calc(50% - 175px);
    top: calc(50% - 175px);
}

@media (max-height:800px) {
    .SpinnerImage {
        position: absolute;
        width: 250px !important;
        height: 250px !important;
        left: calc(50% - 125px);
        top: calc(50% - 125px);
    }
    .Spinner {
        position: absolute;
        width: 270px !important;
        height: 270px !important;
        left: calc(50% - 135px);
        top: calc(50% - 135px);
        border: .5rem #005288 solid;
        border-top-color: transparent;
    }
}

@media (max-height:500px) {
    .SpinnerImage {
        top: 125px;
    }
    .Spinner {
        top: 115px;
    }
}
.loaderAnimation{
    transform: scale(.7);
}
