.MyButton:hover {
  cursor: pointer;
}

.MyButton {
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  color: #ffffff !important;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.activeLinkButton {
  border-bottom: white 0.3rem solid;
  font-weight: 500;
  padding-bottom: 0.5rem;
}
.navbar {
  background-color: #2b5283;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 999;
  /* box-shadow: 0 10px 10px blue;   */
  margin-bottom: 1rem;
  box-shadow: 0px 8px 6px 0px rgb(0, 0, 0, 0.3);
  outline: 2px #2b5283 solid;
}
.navbar.notBottomElt {
  margin-bottom: 0;
  box-shadow: none;
}

.blue,
.navbar-expand,
.navbar-collapse,
.navbar-light,
.bg-light,
.bannerHolder,
.navbar-expand-lg {
  background-color: #2b5283 !important;
}
.navbar-toggler-icon {
  content: "" !important;
  border: none !important;
  background-image: none !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-nav {
  margin-left: 1rem;
}
