.ruleGraphContainer{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.ruleTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ruleChars{
    font-size: 1.1rem;
    margin-bottom: .25rem;
}
.ruleActionsContainer .message{
    opacity: 0;
    transition: opacity .2s ease-in;
}
.ruleActionsContainer{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}
.statusHistoryList{
    padding: .75rem;
    font-size: 1.1rem;
}