.highlighter{
    margin: 0 !important;
    padding: 0 !important;
    background-color: yellow !important;
}
.itemRenderChild{
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.sandboxTypeahead .rbt-input-multi{
    min-height: 34px;
}
.sandboxTypeahead .rbt-input-multi .rbt-input-wrapper {
    margin-top: 2px;
}
.rulesSelectButton{
    border-bottom-left-radius: 0rem !important;
    width: 220px !important;
    border-top-left-radius: 0rem !important;
}
.countSelectButton{
    border-bottom-left-radius: 0rem !important;
    border-top-left-radius: 0rem !important;
}
/* .dropdownSearchType{
    width: 300px !important;
} */
.sandboxForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.sandboxResultEvidence span{
    font-weight: bold;
    font-size: 1.1rem;
}
.sandboxResultEvidence p{
    font-size: 1rem;
}
.paperIndicatorResult{
    width: 400px;
}
.indicatorPaper{
    background-color: rgb(250, 250, 250) !important;
    width: 300px !important;
}
.sandboxHeader{
    margin-left: 100px;
    display: flex;
    width: max-content !important;
}
.headerPaper{
    margin-left: 105px !important;
    margin-right: 105px !important;
    padding-top: .25rem;
    padding-bottom: .25rem;
    height: max-content !important;
    width: 200px !important;

}
.sandboxScroller .ReactVirtualized__Grid__innerScrollContainer::-webkit-scrollbar {
    display: none;
  }
.sandboxScroller .ReactVirtualized__Grid__innerScrollContainer{
    overflow: auto !important;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.headerPaper span, .headerPaper p{
    text-align: center;
}