.BuildRuleContainer {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    position: relative;
}

.stepper .step {
    /* .content .description */
    flex-grow: 1 !important;
    width: 10px !important;
    flex-basis: 100px !important;
}

.stepper {
    width: 100% !important;
}

.selectScores {
    position: relative;
}

.selectScoresBody {
    width: 80%;
    margin-left: 10%;
    position: relative;
}

.nextButton {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.buttonDisable {
    opacity: .65;
}

.buttonDisable:active {
    pointer-events: none;
}

.activeScores {
    position: relative;
}

.scoreChip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    position: relative;
    width: calc(100% - 8rem) !important;
    padding-left: 2rem;
}

.scoreChip>* {
    flex-grow: 1;
    width: 25%;
    min-width: max-content;
    padding-right: 2rem;
}

.readOnlyInput input {
    background-color: #d1cfcff5 !important;
    cursor: auto;
}
.stepper{
    z-index: 0 !important;
    position: relative;
}
.scoreChipContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #2b5283 !important;
    border-radius: .5rem;
    margin-bottom: 1rem;
    margin-top: .3rem;
}

.scoreChipContainer>div {
    flex-grow: 1;
}

.removeIconScore {
    color: #a5a5a5;
}

.removeIconScore {
    position: absolute;
    right: 5px;
    z-index: 1;
}

.removeIconScore:hover {
    color: white;
}

.swapIconScore {
    position: absolute;
    left: 20px;
    z-index: 1;
}

.addButton {
    position: fixed !important;
    bottom: 20px;
    right: 40px;
}

.addButton i {
    font-size: 1.5rem !important;
}

.addButton:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(43, 82, 131, .4);
}

.dropdownTooltip, .dropdownTooltip *, .dropdownTooltip::before {
    background: rgb(136, 136, 136) !important;
}

.dropdownTooltip, .tallTooltip, .medTooltip, .graphButtonTooltip, .whiteDropdownTooltip {
    padding: .2rem !important;
    padding-right: .5rem !important;
    padding-left: .35rem !important;
    opacity: 1 !important;
    font-size: .75rem !important;
    text-align: center !important;
}

.whiteDropdownTooltip {
    opacity: 1 !important;
}

.totalScoresContainer {
    position: relative;
    /* height: 900px; */
}

.swipeBuild>*>* {
    min-height: 800px !important;
}

.stepper .step .title {
    cursor: pointer;
}

.stepper .step .title:hover {
    color: #4183c4;
}

.scoreBreak {
    height: 1rem;
    background-color: rgb(175, 173, 173);
    margin-bottom: 1rem;
}

.addLogicContainer {
    height: calc(100vh - 280px);
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.buildComponent {
    width: 68%;
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ingredientsContainer {
    height: 30%;
    min-height: 225px;
    display: flex;
}

.statementContainer {
    height: 70%;
    min-height: 275px;
    display: flex;
}

.statementsBox {
    height: 100%;
    width: 100%;
    padding: 1rem;
    outline: 2px solid black;
    outline-offset: -.5rem;
}

.ingredientsContainer>.topIngredients {
    height: 100%;
    width: 50%;
    padding: 1rem;
    outline: 2px solid black;
    outline-offset: -.5rem;
}

.ingredientCookie {
    background-color: #2b5283;
    border-radius: .4rem;
    padding-top: .3rem;
    padding-bottom: .4rem;
    padding-right: .6rem;
    padding-left: .6rem;
    font-size: 1rem;
    color: white;
    display: inline-block;
    margin-top: .2rem;
    margin-bottom: .2rem;
    margin-left: .4rem;
    margin-right: .4rem;
}

.topIngredients, .statementsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.combinerButtons {
    display: flex;
    right: 16px;
    top: 16px;
    position: absolute;
}

.ingredientsDragContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgba(202, 200, 200, .8);
    padding: .5rem;
    border-radius: .3rem;
    overflow-y: auto;
}

.dropBoxCombine {
    display: inline-block;
    padding: 1rem;
}

.combinerTokenContainer {
    position: relative;
    overflow-y: show;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.combinerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}

.prepBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.dropBoxPrep {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.ingredientArrow {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    width: 100px;
}

@media (max-height:800px) {
    .ingredientArrow {
        display: none !important;
    }
    .prepBox {
        margin-bottom: 1rem;
    }
}

.dropdownPrep {
    font-size: 1.1rem;
}

.selectedChip {
    border-radius: .35rem !important;
    color: #2b5283 !important;
    background-color: white !important;
    font-size: 1.1rem !important;
    margin: .2rem !important;
    border: 2px solid #2b5283 !important;
    font-weight: 700;
}

.prepChip {
    border-radius: .35rem !important;
    background-color: #2b5283 !important;
    color: white !important;
    font-size: 1.1rem !important;
    margin: .2rem !important;
}

.prepChip .MuiChip-deleteIcon, .selectedChip .MuiChip-deleteIcon, .ruleChip .MuiChip-deleteIcon {
    color: #a5a5a5 !important;
}

.prepChip .MuiChip-deleteIcon:hover, .selectedChip .MuiChip-deleteIcon:hover, .ruleChip .MuiChip-deleteIcon:hover {
    color: #d4d1d1 !important;
}

@keyframes colorBlink {
    from {
        background-color: silver;
    }
    to {
        background-color: white;
    }
}

.exportNotification {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    color: gray;
    text-align: center;
}

.ruleList {
    background-color: whitesmoke;
    margin-left: 1.5rem;
    padding: .5rem;
    height: inherit;
    min-height: 500px;
    width: 32%;
}

.ruleListContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    height: 100%;
    overflow-y: auto;
}

.ruleListItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(255, 251, 251);
    border-radius: .4rem;
}

.ruleListItem.default {
    flex-grow: unset;
}

.ruleListItemTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ruleChip {
    border-radius: .35rem !important;
    background-color: #2b5283 !important;
    color: white !important;
    font-size: 1.1rem !important;
    margin-left: .5rem !important;
    margin-right: .5rem !important;
    margin-top: .5rem !important;
    margin-bottom: 1rem !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    /* All browsers since IE 5.5+ */
    overflow-wrap: break-word !important;
    white-space: break-spaces !important;
    height: unset !important;
    padding-top: .4rem !important;
    padding-bottom: .4rem !important;
}

.ruleWrap {
    word-break: break-all !important;
    word-wrap: break-word !important;
    /* All browsers since IE 5.5+ */
    overflow-wrap: break-word !important;
    white-space: break-spaces !important;
}


.dropRule {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logicPageButtons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: .6rem;
    position: relative;
}
.ReviewPageButtons{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.edgeLabels,.edgeLabels .edgeLabel ,.edgeLabels foreignObject,.edgeLabels rect{
    fill: white !important;
    background: white !important;
}
.reviewHolder{
    display: flex;
    justify-content: center;
}
.dropBoxRule {
    height: 100%;
    flex-grow: 1;
}
.dropBoxRule.contains{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropRuleContainer{
    padding: 2rem;
    height: 100%;
}
