@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.ScoreIndicatorsContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.tableContainerThumbnails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}

.potentialOutlineContainer {
  min-width: 400px;
  flex-grow: 1;
}

.IEHackFiller1 {
  flex-basis: 400px;
  flex-grow: 1;
  height: inherit;
  max-width: 700px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.IEHackFiller {
  flex-basis: 350px;
  flex-grow: 1;
  max-width: 700px;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@supports (grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))) {
  .potentialOutlineContainer {
    min-width: unset;
    flex-grow: unset;
  }
  .IEHackFiller,
  .IEHackFiller1 {
    display: none;
  }
  .tableContainerThumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .datapointContainergrid {
    min-width: 350px;
  }
}

.datapointContainerlist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.datapointContainerlist > * {
  flex-basis: 350px;
  flex-grow: 1;
  max-width: 700px;
}

.IEHackFiller {
  flex-basis: 350px;
  flex-grow: 1;
  max-width: 700px;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@supports (grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))) {
  .IEHackFiller {
    display: none;
  }
  .datapointContainerlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .datapointContainerlist > * {
    max-width: unset;
  }
}

.datapointContainer div {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.displayIcon {
  font-size: 1.5rem;
  user-select: none;
  position: relative;
  display: flex;
  width: min-content;
  justify-content: center;
  align-items: center;
}

.displayContainer {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.fi-monitor {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.displayContainer i {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin: 0;
}

.filterBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.paginateTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.paginateDrop .dropdown-menu {
  min-width: 15px !important;
}

.paginateDrop,
.paginateDrop * {
  box-shadow: none !important;
}

.paginateDrop .btn {
  padding: 0;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

.paginateDrop:hover {
  background-color: whitesmoke;
  border-radius: 0.25rem;
}

.tableSummary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.btn-outline-primary {
  border: none !important;
}

.graphHolder {
  height: 300px;
  width: 100%;
  position: relative;
}
.radarGraphHolder {
  height: 290px;
}
.radarDrop .dropdown-toggle {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.28571429em;
font-size: 1.287rem;
  font-weight: 700;
  padding: 0;
  padding: 0;
  margin: 0;
}
.radarDrop {
  padding: 0;
  margin: 0;
}
.graphHolder .loading,
.summaryContainer,
.loading {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  position: absolute;
  z-index: 2;
  height: 100% !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartjs-size-monitor canvas {
  width: 100% !important;
}
.blockUI {
  position: relative;
}
.blockUIScreen {
  background-color: white;
  opacity: 0.5;
}
.graphLoaderAnimation {
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.centerHistoricsLoading {
  margin-bottom: 4rem;
}
.historicsGraphHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summaryContainer {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.displayType .dropdown-menu {
  min-width: 15px !important;
}

.scoreTypeahead .form-control .rbt-input-wrapper .rbt-input-main {
  min-height: 22px !important;
  user-select: none;
}

.dateContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .dateContainer {
    flex-wrap: wrap;
  }
}

.flashLight {
  width: 1.5rem;
}

.rbt-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: ghostwhite;
}

/**/

.plusContainer {
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
  z-index: 3;
  color: #808880;
}

.plusContainer.x {
  top: 6px;
}

.plusContainerMiddle {
  position: absolute;
  top: 6px;
  right: 27px;
  cursor: pointer;
  z-index: 3;
  color: #808880;
}

.plusContainerMiddle.info {
  right: 30px;
}

.plusContainerMiddleLetter {
  position: absolute;
  top: 5px;
  right: 27px;
  cursor: pointer;
  z-index: 3;
  color: #808880;
  padding-right: 0.2rem;
}

.plusContainerFar {
  position: absolute;
  top: 6px;
  right: 50px;
  cursor: pointer;
  z-index: 3;
  color: #808880;
}

.plusContainerFar.info {
  top: 7px;
}

.plusContainerFarLetter {
  padding-right: 0.2rem;
  position: absolute;
  top: 6px;
  right: 47px;
  cursor: pointer;
  z-index: 3;
  color: #808880;
}

.plusContainer.color:hover,
.plusContainerFar.color:hover,
.plusContainerMiddle.color:hover {
  color: #404040;
}

.plusContainerFarLetter.darken,
.plusContainerMiddleLetter.darken {
  color: #404040;
  background-color: rgb(226, 226, 226);
  padding-bottom: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.2rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .react-datetimerange-picker__inputGroup__year {
    width: 35px !important;
  }
}

.summaryStats {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0.8rem;
}

.summaryStats .statistic {
  margin-bottom: 0 !important;
}

.summaryStatsContainer {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxplotHolder {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.topBplot {
  margin-bottom: 0.78rem;
}

.bottomBplot {
  margin-bottom: 0.75rem;
}

.bplotAxis {
  display: flex;
  justify-content: space-between;
  width: 185px !important;
}

@media (max-width: 1300px) {
  .myStats {
    font-size: 2rem !important;
  }
}

@media (max-width: 1000px) {
  .summaryStats .statistic .label {
    font-size: 0.65rem !important;
  }
  .myStats {
    font-size: 1.5rem !important;
  }
}

.countdownObject {
  height: 60px;
  right: 0;
  padding: 0;
  margin: 0;
}

.countdownContainer {
  position: absolute;
  top: 0;
  height: 5rem;
  width: 5rem;
  z-index: 2;
  right: 0;
  transform: translateY(-8px);
}

.dropdownFilterTab {
  outline: 2px solid black;
  width: 100%;
}

.filterAccordian .title {
  transition: all 0.1s linear 0s;
  border-bottom: 2px black solid;
  margin-bottom: 1rem;
  border-bottom-color: black;
}

.filterAccordian div.active.title {
  border-bottom-color: transparent;
}

.react-datetimerange-picker__inputGroup {
  height: 2.2rem !important;
  align-items: center;
  display: flex;
  margin-left: 0.3rem;
  justify-content: flex-start;
  flex-grow: 0 !important;
}

.react-datetimerange-picker {
  width: 100% !important;
}

.react-datetimerange-picker__wrapper {
  border-color: #ced4da !important;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.react-datetimerange-picker__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.react-datetimerange-picker__calendar-button {
  position: absolute;
  right: 30px;
  top: 3px !important;
}

.react-datetimerange-picker__clear-button {
  position: absolute;
  right: 0px;
  top: 3px !important;
}

.react-datetimerange-picker__calendar,
.react-datetimerange-picker__clock {
  z-index: 9 !important;
}

.chart-text {
  transform: translateY(0.35em);
}

.chart-number {
  font-size: 0.7em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.1em);
}

.chart-label {
  font-size: 0.25em;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(1em);
}

.chart-top {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  transform: translateY(-0.72rem);
}

.countdownTimer {
  position: absolute;
}

.graphButtonHolder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.binosButton {
  padding-top: 0.15rem !important;
  padding-bottom: 0.15rem !important;
}

.timeGraphHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.vertSlider {
  position: absolute;
  right: 0;
  top: calc(50% - 120px);
  height: 220px;
  z-index: 99;
  transform: translateX(20px);
}

.regSlider {
  z-index: 99;
  position: absolute;
  bottom: 0;
  width: 40%;
  right: 0;
  transform: translateY(5px);
}

.disabledOutlineDark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  pointer-events: none;
  padding: 0;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.vTableScores {
  overflow-x: hidden !important;
}

.homeTabTitle {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.accordion div.active.title {
  margin: 0rem !important;
  padding: 0rem !important;
}

.dropdownTooltip,
.tallTooltip,
.medTooltip,
.graphButtonTooltip,
.inputTooltip {
  padding: 0.2rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.35rem !important;
  opacity: 0.65 !important;
  font-size: 0.75rem !important;
  text-align: center !important;
}
/* .ModalTooltip{
    z-index: 9999;
    display: inline !important;
} */
.tallTooltip {
  margin-bottom: 1rem !important;
  font-size: 0.95rem !important;
}

.medTooltip {
  margin-bottom: 1rem !important;
  font-size: 0.8rem !important;
}

.graphButtonTooltip {
  margin-bottom: 1rem !important;
  font-size: 0.65rem !important;
}

.MuiBackdrop-root {
  cursor: progress;
}

.filterSegment {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  border: 2px solid rgb(218, 216, 216);
}

.filterChip {
  border-radius: 0.35rem !important;
  background-color: #2b5283 !important;
  color: white !important;
  font-size: 1.4rem !important;
  margin: 0.2rem !important;
}

.filterChip .MuiChip-label {
  padding: 1rem !important;
}

@media (max-width: 1500px) {
  .filterChip {
    font-size: 1.1rem !important;
  }
  .filterChip .MuiChip-label {
    padding: 0.6rem !important;
  }
  .filterChip .MuiChip-deleteIcon {
    width: 19px !important;
  }
}

@media (max-width: 1100px) {
  .filterChip {
    font-size: 0.9rem !important;
  }
  .filterChip .MuiChip-label {
    padding: 0.4rem !important;
    padding-right: 0.6rem !important;
  }
  .filterChip .MuiChip-deleteIcon {
    width: 16px !important;
  }
}

.filterChip .MuiChip-deleteIcon {
  color: #a5a5a5 !important;
}

.filterChip .MuiChip-deleteIcon:hover {
  color: #d4d1d1 !important;
}

.filterHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.filterMiniChip {
  border-radius: 0.25rem !important;
  background-color: whitesmoke !important;
  padding: 0.1rem !important;
  height: 25px !important;
}

.filterMiniChip .MuiChip-label {
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important;
}

.filterMiniChip .MuiChip-deleteIcon {
  width: 15px !important;
  margin: 0 !important;
}

.filterMiniChip .MuiChip-deleteIcon:hover {
  color: #585858 !important;
}

.sortButton {
  width: 2rem;
  padding: 0;
}

.sortButtonInside {
  transition: transform 0.1s linear 0s;
}

.sortButtonInside.a {
  transform: rotateX(180deg);
}

.dropdown-menu {
  z-index: 9 !important;
}

.rbt-input-main {
  z-index: 2;
}

.form-control.error:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 8, 0, 0.548);
  z-index: 2;
}

.Select--single {
  display: inline-block;
}

.noCurve {
  border-radius: 0rem !important;
  height: 100% !important;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.darken span {
  background-color: rgb(197, 197, 197) !important;
}
.darken:active span {
  background-color: rgb(182, 180, 180) !important;
}

.noCurveLeft {
  border-bottom-left-radius: 0rem !important;
  border-top-left-radius: 0rem !important;
  height: 100% !important;
  cursor: pointer;
}

.tableContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  border: 2px solid #00416a;
  position: relative;
  background-color: rgba(245, 245, 245, 0.555);
}

.ScrollSyncWrapper {
  flex-grow: 1 !important;
  position: relative;
  min-height: 0px;
}

.tableHeaderContainer {
  background-color: #00416a;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.tableHeaderTitle {
  margin-bottom: 0.5rem;
  color: white;
  font-size: 24px;
}

.collapseSearchContainer {
  display: block;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 280px;
}

.collapseWidth {
  width: 0px;
}

.collapseSearchButton {
  margin-left: 0 !important;
  height: 2.5rem;
  transition: border-radius 0s ease-in 0.3s;
  border-width: 2px;
}

.baseTableBody {
  position: relative;
  direction: ltr;
  will-change: transform;
  overflow: auto;
  height: 100% !important;
}

.collapseSearchButton.noCurve {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  transition: border-radius 0s ease-in 0s;
}

.tableHeaderSearchContainer {
  position: relative;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon1 {
  color: white;
  position: absolute;
  top: 5px;
  right: 38px;
  cursor: pointer;
  padding-bottom: 0.3rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.searchIcon2 {
  color: white;
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
  padding-top: 0rem;
  padding-bottom: 0.25rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

.selectedButton {
  background-color: #a5a5a5;
  border-radius: 0.2rem;
}

.tableHeaderInput {
  background-color: #00416a;
  color: rgba(255, 255, 255, 0.95);
  border: rgba(255, 255, 255, 0.555) solid 2px;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 20rem;
  font-size: 1.1rem;
  padding-left: 0.4rem;
  padding-right: 5rem;
}

.tableHeaderInput:focus {
  outline: none;
  border: rgba(255, 255, 255, 0.733) solid 2px;
}

.tableHeaderInput:focus::placeholder {
  color: rgba(255, 255, 255, 0.596);
}

.tableHeaderInput::placeholder {
  color: rgba(255, 255, 255, 0.555);
}

.tableHeaderInput::selection {
  background: white;
  color: black;
}

.sortArrow {
  color: rgba(255, 255, 255, 0.253);
  display: inline-block;
  cursor: pointer;
}

.sortArrow:hover {
  color: rgba(255, 255, 255, 0.637);
}

.sortArrow.asc {
  transform: rotateX(180deg);
}

.sortArrow.active {
  color: rgba(255, 255, 255, 0.932);
}

.tableBody {
  outline: 2px #00416a solid;
}

.tableRow {
  background-color: rgb(252, 252, 252);
  padding: 0.5rem;
  font-size: 18px;
  border-top: 1px solid rgb(224, 221, 221);
  transition: background-color 0.05s ease-in;
  display: flex;
  align-items: flex-start;
  min-width: max-content;
  min-height: 50px !important;
  width: auto;
}

.headerRow {
  display: flex;
  align-items: flex-start;
  width: auto;
  background-color: #00416a;
  color: white;
  white-space: nowrap;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  font-size: 18px;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  overflow-y: hidden;
  /* Firefox */
  min-height: 3rem !important;
}

.headerRow::-webkit-scrollbar {
  display: none;
}

.tableBody::-webkit-scrollbar {
  z-index: 2;
  background-color: #eee9e9;
}

.headerData {
  display: inline-block;
  width: 600px;
  white-space: normal;
}

.tableRow:hover {
  background-color: rgb(238, 234, 234);
}

.tableData {
  display: inline-block;
  word-wrap: break-word;
}

.tableHeaderButtons {
  display: flex;
}

.rowContainer {
  overflow: visible;
}

.ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.highlight {
  background-color: blue;
  color: white;
  margin: 0 !important;
  padding: 0 !important;
}

.progressBoxHolder {
  width: 180px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historicsGraphHolder {
  flex-grow: 1;
  min-width: 100px;
}

.historicsGraphLabel {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-align: center;
}
.stickyDashHeader {
  position: sticky;
  box-shadow: 0px 8px 6px 0px rgb(0, 0, 0, 0.3);
  top: 0;
  padding-left: 2rem;
  z-index: 3 !important;
  background-color: #2b5283;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.activeLinkScroll {
  border-bottom: 2px black solid;
}
.LinkScroll {
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.invalidRegex {
  color: red;
}
.filterModalButton:hover,
.filterModalButton:hover:not(.show) button,
.filterModalButton:hover span {
  background-color: rgb(228, 228, 228) !important;
}
.filterModalButton:active,
.filterModalButton:active:not(.show) button,
.filterModalButton:active span {
  background-color: rgb(182, 180, 180) !important;
}


.headerStyleVisible{
  transition: all 200ms ease-in;
  visibility: visible;
  transform: none;
}

.headerStyleHidden{
  transition: all 200ms ease-out;
  visibility: hidden;
  transform: translate(0, -100%);
}