.ruleBody {
    border-bottom: .1rem solid black;
    padding: 1rem;
    padding-top: 1.5rem;
    display: flex;
    width: 100% !important;
    overflow: hidden;
    justify-content: space-between;
}

.ruleBody:hover {
    background-color: whitesmoke;
}

.ruleContainer {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .4rem;
}

.bold>span {
    font-weight: bold;
}

.statusLink {
    cursor: pointer;
    color: #4183c4;
    width: max-content;
}

.statusLink:hover {
    text-decoration: underline;
}

.ruleName {
    cursor: pointer;
    margin-bottom: .25rem;
    color: #4183c4;
    font-size: 1.15rem;
}

.ruleName:hover {
    text-decoration: underline;
}

.ruleDescription {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nameDescRule {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.statusRulesFlex{
    display: flex;
     flex-direction: column;
      align-items: flex-end;
     
}